flask
openai>=1.0.0
requests
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
flask_session
redis
gunicorn
python-dateutil
websockets
flask-socketio
eventlet
